
/* stylelint-disable */

.btn {
    display: inline-block;
    padding: 20px 53px;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.11em;
    background: linear-gradient(90deg, #3AB49B 0%, #49CC83 102.96%);
    border-radius: 60px;
    opacity: 0.9;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-weight: 700;

    &:hover {
        opacity: 1;
        color: #fff;
        text-decoration: none;
        transform: scale(.98);
    }
}

.btn-center {
    text-align: center;
}

@media (max-width: 480px) {
    .btn {
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
