<section class="section section_face">
    <div class="container">
        <div class="face">
            <h1 class="face__title"><mark>натуральное</mark> жиросжигающее средство</h1>
            <div class="face__media"></div>
            <div class="face__body">
                <div class="face__list">
                    <div class="face__item"><p>Способствует снижению веса</p></div>
                    <div class="face__item"><p>Нормализует обмен веществ</p></div>
                    <div class="face__item"><p>Способствует снижению аппетита</p></div>
                </div>
                <div class="face__price">Цена: <mark>749 MXN</mark></div>
                <a class="face__btn btn">Заказать сейчас</a>
            </div>
        </div>
    </div>
</section>