
.pay__title {
    margin-bottom: 15px;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #36411B;
    letter-spacing: -0.01em;
}

.pay__subtitle {
    margin-bottom: 30px;
    font-size: 22px;
    color: #000;
    font-weight: 400;
}

.pay__body {
    display: flex;
    justify-content: space-between;
}

.pay__item {
    max-width: 240px;
    margin-right: 30px;
    margin-left: 30px;
    flex: 0 0 auto;
}

.pay__description {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .pay__body {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pay__item {
        margin-bottom: 30px;
    }

    .pay__title {
        margin-bottom: 60px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .pay__description {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .pay__title {
        font-size: 38px;
        margin-bottom: 30px;
    }
}
