<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_message">
            <div class="container">
                <div class="message">
                    <h2 class="message__title">отзывы</h2>
                    <div class="message__box owl-carousel js-message__box">
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-1.jpg" alt=""></div>
                            <div class="message__description">Перепробовала много средств для похудения – ничего не помогло. По совету подруги решила заказать W-loss, она им осталась очень довольна. Оформила заказ на официальном сайте, доставили очень быстро! Упаковки пришли целые, оплатила товар только после получения.</div>
                            <div class="message__name">Ángela, 42 года</div>
                            <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div>
                        </div>
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-2.jpg" alt=""></div>
                            <div class="message__description">Взяла попробовать первый раз. Оставила заявку, вежливо проконсультировали по телефону, порекомендовали курсовой прием. Доставили прямо на дом, коробки с W-loss пришли все целые. Пью его второй день, эффект пока не почувствовала, буду принимать дальше. На вкус W-loss довольно приятный.</div>
                            <div class="message__name">Gabriela, 39 лет</div>
                            <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div>
                        </div>
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-3.jpg" alt=""></div>
                            <div class="message__description">Взяла попробовать первый раз. Оставила заявку, вежливо проконсультировали по телефону, порекомендовали курсовой прием. Доставили прямо на дом, коробки с W-loss пришли все целые. Пью его второй день, эффект пока не почувствовала, буду принимать дальше. На вкус W-loss довольно приятный.</div>
                            <div class="message__name">Fernanda, 37 лет        </div>
                            <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="message__btn">
                        <div class="table__btn btn">Заказать сейчас</div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>