<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_order">
            <div class="container">
                <div class="order">
                    <h2 class="order__title">заказать сейчас <mark>w-loss</mark></h2>
                    <form class="order__form">
                        <label class="order__label">
                            <p>Имя</p>
                            <input type="text" class="order__field">
                        </label>
                        <label class="order__label">
                            <p>Телефон</p>
                            <input name="phone" type="text" class="mx order__field">
                        </label>
                        <div class="order__price">Цена: <mark>749 MXN</mark></div>
                        <button class="order__btn btn" type="submit">Заказать сейчас</button>
                    </form>
                    <div class="order__media"></div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>